* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
