.collapsible {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.chips {
  &__el {
    margin-left: 10px;
  }
}
.cancel {
  display: block;
  margin: 0 5px;
}
.select {
  width: 100%;
}
section {
  width: 360px;
  background-color: lightgray;
  font: 16px/20px sans-serif;
  box-sizing: border-box;
}

section.collapsible {
  color: white;
  background-color: grey;
}

p {
  margin: 0;
  padding: 15px;
}

aside {
  position: absolute;
  top: 8px;
  right: 8px;
}

button {
  font-size: 16px;
  border: none;
  background: #2196f3;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
